/*
	Soul by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

p {
  font-size: 0.938em;
  color: #898989;
  font-style: italic;
  line-height: 19px;
  margin: 0 0 20px 0;
}

.title {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0 0 38px 0;
}
.title * {
  display: inline-block;
  width: 100%;
}
.title h1 {
  margin: 0;
  font-size: 1.438em;
}
.title span {
  color: #c0bebe;
  font-size: 1.438em;
  font-weight: bold;
  padding: 0 0 11px 0;
}
.title p {
  text-transform: uppercase;
  color: black;
  line-height: 20px;
  font-size: 0.938em;
  word-spacing: 3px;
  margin: 0;
  font-style: normal;
}

.smallTitle {
  width: 100%;
  display: block;
  padding: 0 0 20px 0;
}
.smallTitle h2 {
  margin: 0;
  font-size: 1.063em;
}
.smallTitle span {
  color: #c0bebe;
  font-size: 1.438em;
  font-weight: bold;
  padding: 0 0 11px 0;
}

.cta {
  color: black;
  font-size: 0.938em;
  text-decoration: none;
  padding: 10px 40px;
  border: 3px solid #d8d6d6;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.cta:hover {
  background: black;
  border: 3px solid black;
  color: #fff;
}

ul.social {
  display: block;
}
ul.social li {
  display: inline-block;
  margin: 0 40px 0 0;
}
ul.social li a {
  text-decoration: none;
  color: #959494;
  text-transform: uppercase;
  font-size: 0.813em;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
ul.social li a i {
  font-size: 1.308em;
}
ul.social li a:hover {
  color: #000;
}

.backtotop {
  position: fixed;
  right: -40px;
  bottom: 40px;
  background: #000;
  width: 40px;
  height: 40px;
  z-index: 100;
  text-align: center;
  line-height: 40px;
}
.backtotop i {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.pace {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  z-index: 10000;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.4s;
  -moz-transition: all ease-in 0.4s;
  -o-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  color: #000;
}
.pace.pace-inactive {
  display: none;
}
.pace .pace-progress {
  color: #000;
}
.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  content: attr(data-progress-text);
  font-weight: 800;
  font-size: 3em;
  line-height: 1;
  letter-spacing: -1px;
  text-align: right;
  color: #000;
  margin: -24px 0 0 -55.5px;
}

header {
  width: 100%;
  display: block;
  padding: 30px 0 0 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
header * {
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
header.sticky {
  padding: 10px 0;
}
header.sticky img {
  width: 37px;
}
header.sticky nav {
  padding: 11px 0;
}
header.sticky .sep {
  display: none;
}
header nav {
  width: 100%;
  display: block;
  padding: 24px 0;
}
header nav ul {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
header nav ul li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.938em;
  color: black;
  display: inline;
  margin: 0 0 0 8px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li a:hover {
  color: #898989;
}
header nav ul li.current a {
  color: #898989;
}
header .sep {
  width: 100%;
  display: block;
  height: 1px;
  background: #e4e2e2;
  margin: 30px 0 0 0;
}

section.about {
  width: 100%;
  display: block;
  padding: 186px 0 80px 0;
}
section.about .imageholder {
  width: 100%;
  display: block;
  position: relative;
}
section.about .imageholder:hover .text {
  opacity: 1;
}
section.about .imageholder .text {
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  opacity: 0;
}
section.about .imageholder .text div {
  height: 100%;
  width: 100%;
  display: table;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}
section.about .imageholder .text div span {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 600;
}
section.about .sliderHolder {
  width: 100%;
  display: block;
  position: relative;
}
section.about .sliderHolder .slider {
  width: 100%;
  display: block;
}
section.about .sliderHolder .bannerNav {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}
section.about .sliderHolder .bannerNav a {
  float: left;
  width: 32px;
  height: 32px;
  background: #fff;
  opacity: 0.7;
  color: black;
  text-align: center;
  font-size: 1.375em;
  margin: 0 0 0 1px;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
section.about .sliderHolder .bannerNav a i {
  line-height: 32px;
}
section.about .sliderHolder .bannerNav a:hover {
  background: #959494;
  color: #fff;
  opacity: 1;
}
section.about article {
  width: 100%;
  display: block;
  padding: 60px 0 0 0;
}

section.parallax {
  width: 100%;
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
}

section.services {
  width: 100%;
  display: block;
  padding: 80px 0 60px 0;
}
section.services .service {
  width: 100%;
  display: block;
  text-align: center;
  opacity: 0;
}
section.services .service .top {
  width: 100%;
  display: block;
  border-top: 1px solid #e4e2e2;
  border-bottom: 1px solid #e4e2e2;
  padding: 20px 0 18px 0;
  margin: 0 0 30px 0;
}
section.services .service .top i {
  font-size: 1.875em;
  padding: 0 0 7px 0;
}
section.services .service .top h3 {
  font-size: 0.938em;
  color: black;
  margin: 0;
}
section.services .service p {
  font-size: 0.875em;
  padding: 0 15px;
}

section.team {
  width: 100%;
  display: block;
  background: #eeeeee;
  padding: 40px 0;
}
section.team .slider {
  width: 100%;
  display: block;
  position: relative;
}
section.team .slider .sliderholder {
  width: 100%;
  display: block;
}
section.team .slider .sliderholder .member h5 {
  text-transform: uppercase;
  color: black;
  line-height: 20px;
  font-size: 0.938em;
  word-spacing: 3px;
  margin: 0;
  padding: 0 0 20px 0;
  font-style: normal;
  font-weight: normal;
}
section.team .slider .sliderholder .member p {
  padding: 0 0 30px 0;
}
section.team .slider .sliderholder .member ul.social {
  text-align: right;
}
section.team .slider .sliderholder .member ul.social li {
  margin: 0 0 0 40px;
}
section.team .slider .bannerNav {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 100;
}
section.team .slider .bannerNav a {
  float: left;
  width: 32px;
  height: 32px;
  background: #fff;
  opacity: 0.7;
  color: black;
  text-align: center;
  font-size: 1.375em;
  margin: 0 0 0 1px;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
section.team .slider .bannerNav a i {
  line-height: 32px;
}
section.team .slider .bannerNav a:hover {
  background: #959494;
  color: #fff;
  opacity: 1;
}

section.works {
  width: 100%;
  display: block;
  margin: 0 0 30px 0;
  padding: 80px 0 0 0;
}
section.works .title {
  padding: 0 0 10px 0;
}
section.works ul.filters {
  text-align: center;
  padding: 0 0 40px 0;
  font-style: italic;
}
section.works ul.filters li {
  float: none;
  display: inline-block;
  width: auto;
  margin: 0 4px;
}
section.works ul.filters li.selected a {
  font-weight: 800;
}
section.works ul.filters li a {
  font-size: 0.938em;
}
section.works ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.works ul li {
  float: left;
  width: 24.9%;
}
section.works ul li a {
  color: black;
  font-size: 0.938em;
  text-decoration: none;
}
section.works ul li a:hover figure .imgholder .hover {
  opacity: 1;
}
section.works ul li a:hover figure .imgholder img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
section.works ul li a figure {
  width: 100%;
  display: block;
  opacity: 0;
}
section.works ul li a figure .imgholder {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
section.works ul li a figure .imgholder img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
section.works ul li a figure .imgholder .hover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 20px;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  opacity: 0;
}
section.works ul li a figure .imgholder .hover .text {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: table;
  text-transform: uppercase;
}
section.works ul li a figure .imgholder .hover .text div {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
section.works ul li a figure .imgholder .hover .text div h4 {
  margin: 0 0 10px 0;
  font-size: 1.063em;
}
section.works ul li a figure .imgholder .hover .text div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  text-align: center;
}
section.works ul li a figure .imgholder .hover .text div ul li {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0 1px;
}
section.works ul li a figure figcaption {
  width: 100%;
  display: block;
  padding: 30px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.works ul li a figure figcaption span {
  color: #898989;
}
section.works article.work {
  width: 100%;
  display: none;
  padding: 20px 0;
}
section.works article.work .smallTitle {
  text-align: center;
  padding: 20px 0;
}
section.works article.work p {
  text-align: center;
}
section.works a.close {
  width: 100%;
  text-align: center;
  display: none;
  padding: 0 0 40px 0;
}
section.works a.close i {
  font-size: 1.2em;
  color: #000;
}

section.testimonials {
  width: 100%;
  display: block;
  padding: 40px;
  background: #eeeeee;
}
section.testimonials .title {
  padding: 0 0 20px 0;
}
section.testimonials .slideholder {
  display: inline-block;
  width: 100%;
}
section.testimonials .holder {
  display: block;
  width: 100%;
}
section.testimonials .holder article {
  display: block;
  height: 208px;
  text-align: center;
}
section.testimonials .holder article span.circle {
  display: inline-block;
  width: 111px;
  height: 111px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 0 20px 0;
}
section.testimonials .holder article p {
  text-transform: uppercase;
  color: black;
  line-height: 20px;
  font-size: 0.938em;
  word-spacing: 3px;
  margin: 0 0 20px 0;
  font-style: normal;
}
section.testimonials .holder article h5 {
  color: black;
  text-transform: uppercase;
  color: black;
  font-size: 0.938em;
  margin: 0;
  font-weight: 600;
}
section.testimonials .bannerNav {
  width: 100%;
  display: block;
  text-align: center;
  margin: 20px 0 0 0;
}
section.testimonials .bannerNav a {
  width: 25px;
  height: 25px;
  background: #000;
  color: black;
  text-align: center;
  font-size: 1.375em;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  display: inline-block;
}
section.testimonials .bannerNav a i {
  line-height: 25px;
  color: #fff;
  font-size: 0.813em;
}
section.testimonials .bannerNav a:hover {
  background: #959494;
  color: #fff;
  opacity: 1;
}

section.contact {
  width: 100%;
  display: block;
  padding: 80px 0;
}
section.contact .map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 0 0 30px 0;
  position: relative;
  padding-bottom: 30.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
section.contact .map iframe, section.contact .map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.contact input[type="text"] {
  background: #eeeeee;
  width: 100%;
  padding: 15px 20px;
  border: 0 none;
  outline: 0;
  text-transform: uppercase;
  font-size: 0.813em;
  color: #959494;
  margin: 0 0 20px 0;
}
section.contact input[type="text"]:focus {
  background: #000;
  color: #fff;
}
section.contact textarea {
  background: #eeeeee;
  width: 100%;
  padding: 15px 20px;
  border: 0 none;
  outline: 0;
  text-transform: uppercase;
  font-size: 0.813em;
  color: #959494;
  height: 160px;
  margin: 0 0 20px 0;
}
section.contact textarea:focus {
  background: #000;
  color: #fff;
}
section.contact input[type="submit"] {
  background: #fff;
}
section.contact input[type="submit"]:hover {
  background: #000;
}
section.contact ul {
  font-size: 0.813em;
  line-height: 17px;
  text-transform: uppercase;
}
section.contact ul li {
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
}
section.contact ul li a {
  color: #000;
  text-decoration: none;
}
section.contact ul li i {
  font-size: 1.308em;
}

footer {
  width: 100%;
  display: block;
  background: #eeeeee;
  padding: 10px 0;
}
footer .copyright {
  width: 100%;
  display: block;
  text-align: right;
  color: #959494;
  text-transform: uppercase;
  font-size: 0.813em;
  padding: 20px 0 0 0;
}

@media only screen and (max-width: 1024px) {
  header {
    position: relative;
  }
  header .sep {
    margin: 0;
  }
  header .logoholder {
    width: 100%;
    display: block;
    text-align: center;
  }
  header nav {
    padding: 24px 0 30px 0;
  }
  header nav ul {
    text-align: center;
  }
  header.sticky img {
    width: auto;
  }
  header.sticky nav {
    padding: 24px 0 30px 0;
  }
  header.sticky .sep {
    display: block;
  }

  section.about {
    padding: 40px 0;
  }
  section.about .smallTitle {
    text-align: center;
  }
  section.about article {
    text-align: center;
  }

  section.services {
    padding: 40px 0;
  }

  section.team {
    padding: 40px 0 120px 0;
  }
  section.team .slider .bannerNav {
    bottom: -65px;
    left: 50%;
    margin: 0 0 0 -26px;
  }
  section.team .slider .bannerNav a {
    background: #000;
    opacity: 1.0;
    width: 25px;
    height: 25px;
  }
  section.team .slider .bannerNav a i {
    line-height: 25px;
    color: #fff;
    font-size: 0.813em;
  }
  section.team .slider .sliderholder .member ul.social {
    text-align: center;
    margin: 0;
  }
  section.team .slider .memberInfo {
    text-align: center;
  }
  section.team .slider .smallTitle {
    text-align: center;
    margin: 20px 0 0 0;
  }

  section.works {
    padding: 40px 0 0 0;
  }
  section.works ul li {
    width: 49.9%;
  }
  section.works ul li img {
    width: 100%;
  }
  section.works ul li a figure figcaption {
    max-height: 90px;
    min-height: 90px;
  }

  section.contact {
    padding: 40px 0 0 0;
  }
  section.contact input[type="text"] {
    text-align: center;
  }
  section.contact textarea {
    text-align: center;
  }
  section.contact form {
    margin: 0 0 40px 0;
    display: inline-block;
    text-align: center;
  }
  section.contact .smallTitle {
    text-align: center;
  }
  section.contact ul {
    text-align: center;
    margin: 0;
  }
  section.contact ul li i {
    display: none;
  }

  footer ul.social {
    text-align: center;
  }
  footer .copyright {
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  section.works ul li {
    width: 100%;
  }
  section.works ul li figcaption {
    min-height: 100% !important;
    max-height: 100% !important;
  }
}
